
@font-face {
    font-display: swap;
    font-family: "Palanqui";
    font-style: Bold;
    src: url("../src/Palanquin-Bold.ttf") format("woff2");
}
@font-face {
    font-display: swap;
    font-family:"Palanqui-Medium";
    font-style: Medium;
    src: url("../src/Palanquin-Medium.ttf") format("woff2");
}

@font-face {
    font-display: swap;
    font-family:"Palanqui-SemiBold" ;
    font-style: normal;
    src: url("../src/Palanquin/Palanquin-SemiBold.ttf") format("woff2");
}

@font-face {
    font-display: swap;
    font-family:"PalanquiDark" ;
    font-style: Bold;
    src: url("../src/PalanquinDark-Bold.ttf") format("woff2");
}


